## Operating System

.DS_Store*
__pycache__
.qmake.stash
*.pro.user.*
*.user
*.pyc
*.pfd
*.o
*.obj
*.exp
*.lib
*.so
*.dylib
*.pyd
*.pyo
*~
.env
crash.log
*.autosave
.pytest_cache
htmlcov
.coverage*
.#*
.xcuserstate
Makefile*
*.vcxproj
*.filters
*.sln
.venv*
.direnv
.envrc
lib/qt*
lib/Qt
lib/bugsnag-cocoa
lib/pyqtdeploy*
lib/PyQt*
lib/Python-*
.VSCodeCounter
Defaults.properties
.cache_ggshield
.ai_log.txt

## Generated Sources

pkdiagram/build_uuid.py
# pkdiagram/*_form.py
pkdiagram/qrc_*.py
pkdiagram/qrc_pkdiagram.py
pkdiagram/qrc_qml.py
tests/qml.py
tests/dump_*.png
tests/data/vector_db
_pkdiagram/Makefile*
_pkdiagram/build
Pipfile.lock

sysroot/sysroot-*

## Build

build/osx
build/ios
build/win32
CMakeFiles
CMakeCache.txt
*.cmake
*.xcscmblueprint
xcuserdata
pepper.py
Family\ Diagram.app.zip

## Server
server/instance
vendor/src
vendor/pyqt-sysroot
server_data.tgz

## Test

build/test-ios
server_data/*
profile.png
default.profraw

## Miscellaneous

doc/FamDiagram&Genogram.pdf
doc/Family Weight Loss Study Reliability Study #7.mp3
doc/build-*
doc/demo
doc/Examples
doc/*.docx
doc/*.pdf
doc/*.mov
doc/*.mp4
doc/ideas
doc/videos
tools/pyqtdeploy
doc/Julie
doc/backup
doc/iCloud

