[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.riverbankcomputing.com/pypi/simple/"
verify_ssl = true
name = "riverbank"
# build packages are added here since the github runners need it but don't have psychopg.


[[source]]
url = "https://pypi.familydiagram.com/simple/"
verify_ssl = true
name = "familydiagram"

[packages]
sip = "==6.8.6"
pyqt5 = "5.15.9"
pyqt5-sip = "==12.15.0"
pyqt5-qt5 = "==5.15.2"
bugsnag = "*"
bcrypt = "*"
python-dateutil = "*"
stripe = "*"
pyqt-builder = { index="riverbank" } # "==1.16.4"
vedana = {git = 'git+ssh://git@github.com/patrickkidd/vedana.git', ref = 'release'}

[dev-packages]
pytest = "*"
pytest-qt = "*"
pytest-mock = "*"
snapshottest = "*"
mock = "*"
pyqtdeploy = { index="riverbank" }
fdserver = { index="familydiagram" }

[requires]
python_version = "3.10"
