[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.riverbankcomputing.com/pypi/simple/"
verify_ssl = true
name = "riverbank"
# build packages are added here since the github runners need it but don't have psychopg.

[packages]
sip = "==6.8.6"
pyqt5 = "*"
pyqt5-sip = "==12.15.0"
pyqt5-qt5 = "==5.15.15"
# sip = {version = "==6.8.6", index = "riverbank"}
# pyqt5 = {version = "*", index = "riverbank"}
# pyqt5-sip  = {version = "*", index = "riverbank"}
# pyqt5-qt5  = {version = "*", index = "riverbank"}
pyqtdeploy = {version = "*", index = "riverbank"}
pyqt-builder = {version = "*", index = "riverbank"}
bugsnag = "*"
bcrypt = "*"
python-dateutil = "*"
stripe = "*"

[dev-packages]
pytest = "*"
pytest-qt = "*"
pytest-mock = "*"
pytest-xdist = "*"
mock = "*"
snapshottest = "*"
fdserver = { git = 'git+git@github.com/patrickkidd/familydiagram-server.git', ref = "fdserver-refactor" }
# fdserver-refactor = {ref = "github.com:patrickkidd/familydiagram-server.git", git = "git"}

[requires]
python_version = "3.10.4"

